
body {
    background-color: #414141;
}

.container {
    text-align: center;
    width: 960px;
    color: #FFFFFF;
}

.headerStyle {
    /* border: 3px solid #2F4858; */
    background-color: #336699;
}

.timerStyle {
    border: 3px solid #86BBD8;
}

.questionStyle {
    border: 3px solid #86BBD8;
}

.answerStyle {
    border: 3px solid #86BBD8;
}

.row {
    margin: 10px;
}