.container {
    text-align: center;
    width: 960px;
}

.headerStyle {
    border: 1px solid #000;
}

.timerStyle {
    border: 1px solid #000;
}

.questionStyle {
    border: 1px solid #000;
}

.answerStyle {
    border: 1px solid #000;
}

.row {
    margin: 10px;
}