* {
    box-sizing: border-box;
}

body {
    background-color: #414141;
}

.container {
    text-align: center;
    width: 960px;
    color: #FFFFFF;
}

.headerStyle {
    /* border: 3px solid #2F4858; */
    background-color: #336699;
}

.timerStyle {
    margin: 0 auto;
    font-size: 60px;
    font-weight: bold;
}

.questionStyle {
    border: 1px solid #86BBD8;
    font-size: 30px;
    font-weight: bold;
    color: #336699;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
}

.answerStyle {
    border: 1px solid #86BBD8;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #414141;
    font-size: 20px;
    font-weight: bold;
}

.scoreStyle {
    border: 3px solid #86BBD8;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}


.row {
    margin: 10px;
}

#optionsOne, #optionsTwo, #optionsThree, #optionsFour {
    border: 1px solid #336699;
    margin: 10px auto;
    width: 25%;
    text-align: center;
    padding: 15px;
}